.app-chat-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__button {
    button {
      width: 100%;
      display: block;
    }
  }
}